name: Sync Stack To Date

on:
  push:
    branches: [ master, main ]

jobs:
  sync-stacktodate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download stacktodate binary
        run: |
          curl -L https://github.com/stacktodate/stacktodate-cli/releases/latest/download/stacktodate_linux_amd64.tar.gz | tar xz
          chmod +x stacktodate

      - name: Check stacktodate config
        run: ./stacktodate check

      - name: Push stacktodate config
        run: ./stacktodate push
        env:
          STD_TOKEN: ${{ secrets.STD_TOKEN }}
