name: Sync Stack To Date

on:
  push:
    branches: [ master, main ]

jobs:
  sync-stacktodate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25'

      - name: Download dependencies
        run: go mod download

      - name: Build stacktodate
        run: go build -o stacktodate

      - name: Check stacktodate config
        run: ./stacktodate check

      - name: Push stacktodate config
        run: ./stacktodate push
        env:
          STD_TOKEN: ${{ secrets.STD_TOKEN }}
